KEY_ID=
KEY_SECRET=
WEBHOOK_X_API_KEY=
BOT_SWITCHBOARD_INTEGRATION_ID=
NEXT_SWITCHBOARD_INTEGRATION=
BOT_SWITCHBOARD_INTEGRATION_NAME=
SWITCHBOARD_ID=
CAT_API_KEY=
CAT_API_URL=
DEFAULT_BOT_AVATAR_URL=
BOT_AVATAR_URL=
BOT_NAME=
APP_ID=
BASE_URL=
AUTHORISED_ORIGIN=
AUTHORISED_ORIGIN_HC=
SUNCO_TWILIO_INTEGRATION_ID=
SUNCO_WHATSAPP_INTEGRATION_ID=
PORT=
ZD_SSO_SECRET=
NGROK_SUBDOMAIN=
ZD_SUPPORT_SDK_JWT_SECRET=